<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'home')}">

    <body>

    <h2 th:text="#{welcome}">Welcome</h2>
        <div class="row">
            <div class="col-md-12">
                <a class="btn btn-default" th:href="@{/issues/new}">Reportar Nuevo Error</a>
            </div>
        </div>

        <br/>

        <table id="issues" class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Área</th>
                    <th>Creador</th>
                    <th>Fecha de Creación</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="issue : ${selections}">
                    <td th:text="${issue.id}"/>
                    <td th:text="${issue.area}"/>
                    <td th:text="${issue.name + ' ' + issue.surname}"/>
                    <td th:text="${#dates.format(issue.creationDate, 'dd/MM/yyyy HH:mm')}"/>
                </tr>
            </tbody>
        </table>

    </body>

</html>